<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="">
        <link rel="icon" href="../images/icon.ico">
        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/normalize.css" rel="stylesheet">
        <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../stylesheets/cover.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Project Hedra</title>
        <meta name="description" content="Discover and explore colorful new worlds in an open-world setting with procedurally generated quests">
    </head>

    <body>
        <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
            <div class="collapse navbar-collapse justify-content-md-center">
                <ul class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="#Download">Download</a>
                    <a class="nav-link" href="#About">About</a>
                    <a class="nav-link" href="#Gallery">Gallery</a>
                    <a class="nav-link" href="#Social">Social</a>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src ="../images/hedra-background.png"  class="background img-fluid" style="box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);"></img>

                    <img src="https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Falpha.png?alt=media&token=249988c7-4298-44c3-8761-cef244fc686b" class="alpha-icon"></img>

                    <div class="section" id="Download" style="background-color: #282828;">
                    <center>
                       <iframe class="big-buy" frameborder="0" src="https://itch.io/embed/77512?linkback=true&amp;border_width=0&amp;bg_color=eee" width="550" height="165" style="box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);"></iframe>

                       <iframe class="small-buy" frameborder="0" src="https://itch.io/embed/77512?bg_color=eee" width="208" height="167"></iframe>
                    </center>
                    </div>

                    <br>
                    
                                        <div class="section" id="About" style="background-color: #383838;">
                        <h4 class="about-text">Discover and explore colorful new worlds in an open-world setting with procedurally generated quests</h4>
                        <br>
                        <p class="about-text">
                            Project Hedra is a roguelike game with RPG elements: open-world, replayable and quest-oriented are some of the features which best describe Project Hedra. The game is divided into "runs" where each world is procedurally generated and can vary in theme, appearance, natural complexity levels ( such as the variety of flora in the world and the weather ) along with many other factors which make each run a unique challenge.
                        </p>
                    </div>
                    <br>
                </div>
                <div class="col-12 section gallery" id="Gallery" style="background-color: #282828;">
                    <h2>GALLERY</h2>
                    <br>
                    
                    <div id="GalleryContainer" class="row gallery-container">
                        
                    </div> 

                </div>
                <br>
            </div>

            <br>
            <div class="col-12 section" style="background-color: #383838;" id="Social">
                <h2 >SOCIAL</h2>
                <br>
                <br>

                <a class="btn btn-social-icon btn-twitter" style="font-size:60px; width: 150px;" href="https://twitter.com/Zaphyk">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="btn btn-social-icon btn-reddit" style="font-size:60px; width: 150px;" href="https://www.reddit.com/r/projecthedra/">
                    <span class="fa fa-reddit"></span>
                </a>
                <a class="btn btn-social-icon btn-youtube" style="font-size:60px; width: 150px;" href="https://www.youtube.com/channel/UCsdXQjd5KA59saPSyQFSxuA">
                    <span class="fa fa-youtube"></span>
                </a>
                <a class="btn btn-social-icon btn-youtube" style="font-size:60px; width: 150px;" href="https://discord.gg/AEC4Uab">
                    <img src="../images/discord.png" style="width: 60px;height:auto;"></img>
                </a>
                <br>
            </div>
            <br/>
            <span style="font-size:16px;">©  Copyright 2017 Luaek. All rights reserved.</span>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript">
            var imgs = [
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg0.png?alt=media&token=f0d6ba71-0478-409e-b786-828596be3d0f',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg1.png?alt=media&token=6f888f4f-75a9-4b09-980c-fe10bfb21fc8',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg2.png?alt=media&token=a5d0c183-b8b6-4bde-add1-fbe96fb5432e',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg3.png?alt=media&token=d6ef1992-20ec-41f0-a06e-9cec34e18059',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg4.png?alt=media&token=3a2f5e50-7410-4c2d-b2eb-448ae3858e4c',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg5.png?alt=media&token=93805c8c-43dd-43e5-9f8d-76aa9fe336cb',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg6.png?alt=media&token=9ca02f13-5366-445c-8252-71d5d3232970',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg7.png?alt=media&token=ffc1a7e3-934c-472f-b201-b15b818525cf',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg8.png?alt=media&token=74068a79-6ca0-4971-9f09-142fe678fc94',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg9.png?alt=media&token=516d9b44-815c-467a-8b65-f96536de704c',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg10.png?alt=media&token=efa18ce7-d34b-4d47-8c96-22b562050f8a',
            'https://firebasestorage.googleapis.com/v0/b/luaek-f91a1.appspot.com/o/images%2Fimg11.png?alt=media&token=88edc039-5610-4a8c-b301-00e1290dec35'
            ]
            
            for(i = 0; i < imgs.length; i++){
              
              document.getElementById("GalleryContainer").innerHTML +=
                '<div class="card" style="padding: 7.5px;">'
                   +'<a href="'+imgs[i]+'">'
                    +'<img src="'+imgs[i]+'" style="height: 172px; width: 307px; display: block;box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);"  > </img>'
                  +'</a>'
                +'</div>'
            }
        </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55659525-4', 'auto');
  ga('send', 'pageview');

</script>

        <script src="../stylesheets/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../stylesheets/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="../stylesheets/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug <--></-->
        <script src="../stylesheets/ie10-viewport-bug-workaround.js"></script>


        <script type="text/javascript">
            $('a[href*="#"]')
            // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function(event) {
            // On-page links
            if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
            && 
            location.hostname == this.hostname
            ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
            scrollTop: target.offset().top
            }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
            return false;
            } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
            };
            });
            }
            }
            });
        </script>
    </body>
</html>

